doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet')
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='/javascripts/client.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block content
