body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body * {
  border: 1px dotted blue;
  padding: 10px;
}

li {
  list-style-type: none;
}

h1 {
  font-family: Barrio;
  font-size: 40px;
  color: black;
}

button {
  background-color: darkslategray;
  border: none;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 120%;
  font-family: Arial;
}

button:active {
  background-color: white;
}

ul {

}

#main {
  position: sticky;
  width: 700px;
  margin: auto;
  max-width: 100%;
}

select {
  background-color: #f7f8f9;
  border: none;
  margin-top: 10px;
  font-size: 105%;
  width: 50%;
}

ul li:nth-child(even) {
  background-color: white;
}

ul li:nth-child(odd) {
  background-color: honeydew;
}